.logoImage {
  /* height: 90%;
  width: 55%; */
} 
.n2-menu-container {
  height: 100%;
  width: 100%;
  z-index: 19;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 20, 130);
  display: none;
}
.n2-menu-container-div {
  height: 100%;
  width: 100%;
  z-index: 20;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgb(77, 20, 130), rgb(45, 9, 79));
  position: relative;
}

.main-nav-n1 {
  padding: 1vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.n1-nav-ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 10px;
}
.link {
  color: rgb(182, 178, 178);
  font-size: 1.1rem;
  text-decoration: none;
}
.link:hover {
  color: white;
  transition: 0.4s;
}
/* .cases {
    display: none;
  }
  .home {
    display: none;
  }
  .contact {
    display: none;
  }
  .cookies      {
    display: none;
  }
  section[data-some="case"] .cases {
    display: block;
  } */
.n2-close {
  position: absolute;
  top: 4vh;
  right: 1vh;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 2vh;
}
.n2-nav-ul {
  list-style-type: none;
}
.n2-socials {
  width: 100%;
  height: 10vh;
  position: absolute;
  left: 0;
  bottom: 2vh;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
}
