.main-nav {
    padding: 1vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
  }
  .link {
    color: rgb(182, 178, 178);
    font-size: 30px;
    text-decoration: none;
  }
  .link:hover {
    color: white;
    transition: 0.4s;
  }