.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(57, 11, 99);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow-y: hidden;
  display: none;
  cursor: default;
  transition: 1s ease-in-out;
}
.menu-btn {
  display: none;
}
.homepage-h1 {
  background-image: linear-gradient(to right, #141414 0%, black 100%);
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: lighten;
  color: rgb(228, 228, 230);
  font-family: "League Spartan", sans-serif;
  box-shadow: 0 0 30px black;
  padding-top: 20vh;
}
.homepage-h1::after {
  content: "";
  height: 5vh;
  width: 2px;
  color: white;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 49%;
  left: 49%;
}
.h1-container {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1-headings {
  width: 60%;
  height: auto;
  padding-left: 20vh;
}
.homepage-h1 h1,
h3 {
  display: inline-block;
}
.homepage-h1 h1 {
  font-size: 4rem;
  line-height: 4.1rem;
  color: white;
}
.homepage-h1 h3 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}
.animated-text-1 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  animation: textAnimation1 2s infinite ease-in-out;
  text-shadow: 0 0 20px rgb(117, 226, 238);
}
@keyframes textAnimation1 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cursive {
  font-family: "Hurricane", cursive;
}
.h1-social {
  justify-self: flex-end;

  font-size: 2rem;
}
.h1-social-ul {
  display: flex;
  flex-direction: column;
}
.h1-social-ul li {
  list-style-type: none;
  color: rgb(182, 178, 178);
  padding-right: 2vh;
}

.h1-social-ul li i {
  transition: 0.4s;
  cursor: pointer;
}
/* .h1-social-ul li i:hover {
  color: white;
} */
.h1-social-ul li .i-1:hover {
  color: rgb(51, 78, 250);
}
.h1-social-ul li .i-2:hover {
  color: rgb(30, 255, 120);
}
.h1-social-ul li .i-3:hover {
  color: rgb(255, 19, 231);
}
.h1-social-ul li .i-4:hover {
  color: rgb(43, 106, 253);
}
.h1-social-ul li .i-5:hover {
  color: rgb(43, 106, 251);
}
.h1-magic-boxes {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.h1-magics {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-magics-images {
  height: 70%;
}

.h1-magics-images {
  animation: float 3s ease-in-out infinite;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}

.h1-magics:hover .h1-magics-images {
  animation: bounceIn 1.6s;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* about */

.about-a1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 30px 30px rgb(57, 57, 57);
  background-image: linear-gradient(white, rgb(178, 178, 206));
  position: relative;
  overflow-x: hidden;
}

.a1-content {
  width: 50%;
  height: auto;
}
.a1-content h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5vh;
  color: rgb(41, 41, 41);
  text-shadow: 5px 5px 15px rgb(103, 102, 102);
}
.a1-content p {
  text-align: center;
  padding: 4vh;
  font-size: 1.7rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Dongle", sans-serif;
}
.a1-wrapper {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

.a1-target {
  font-weight: bold;
  font-size: 11rem;
  color: rgb(120, 120, 120, 0.3);
  animation-name: rightToLeft2;
  animation-duration: 25.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  text-transform: uppercase;
}

@keyframes rightToLeft2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.a1-image {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.a1-image img {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 2vh;
}

/* latest works/case studies */
.latest-l1 {
  height: auto;
  width: 100%;
  padding: 1vh;
}
.l1-heading {
  margin-top: 10vh;
  text-align: center;
  font-size: 2.5rem;
  font-family: "League Spartan", sans-serif;
  color: rgb(21, 21, 27);
  margin-bottom: 10vh;
}
.l1-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.l1-left {
  transform: translateX(-5vh);
}
.l1-right {
  transform: translateX(5vh);
}
.l1-cases {
  height: 36vw;
  width: 70%;
  background-color: rgb(137, 133, 127);
  margin: 10vh;
  box-shadow: 0 0 15vh rgb(120, 118, 118);
  position: relative;
}
.l1-cases img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
.l1-overlay {
  height: 36vw;
  width: 0;
  background-image: linear-gradient(rgba(79, 77, 99, 0.9), rgb(13, 9, 52));
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.l1-cases:hover .l1-overlay {
  width: 100%;
  box-shadow: 0 0 15vh rgb(120, 118, 118);
}
.l1-cases:hover .l1-overlay-headings {
  opacity: 1;
}
.l1-overlay-headings {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 20%;
  right: 10%;
  opacity: 0;
  transition-delay: 1s;
  transition: 1s;
  color: white;
  font-size: 2rem;
}

.l1-overlay-headings h3 {
  font-family: "Dongle", sans-serif;
}
.l1-nav {
  color: white;
  text-decoration: none;
}
.l1-btn {
  padding: 2vh 3vh;
  background-image: linear-gradient(
    to right,
    rgb(24, 96, 147),
    rgb(20, 20, 148),
    rgb(105, 40, 165)
  );
  border: none;
  color: white;
  font-size: 0.8rem;
  display: block;
  cursor: pointer;
}
.l1-i {
  transition: 0.4s;
}
.l1-btn:hover .l1-i {
  transform: translateX(10px);
}
